<aside>
    <ul class="setting">
        <li>
            <%= link_to "アカウント", users_account_url %>
        </li>
        <li>
            <%= link_to "プロフィール", users_profile_url %>
        </li>
    </ul>
</aside>