<h2>設定</h2>
<aside>
    <ul>
        <li>
            <%= link_to "アカウント", users_account_path(@user) %>
        </li>
        <li>
            <%= link_to "プロフィール", users_profile_path(@user) %>
        </li>
    </ul>
</aside>
<h3>アカウント</h3>